@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 10%;
}

.skills {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 12%;
  margin-left: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  transition: transform 0.3s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease-in-out;
}

.skill:hover .skillImageContainer {
  background-color: rgba(25, 55, 109, 0.9);
  box-shadow: 0 0 15px rgba(25, 55, 109, 0.6);
}

.skillImageContainer img {
  width: 75%;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.skill:hover .skillImageContainer img {
  transform: scale(1.1);
}

.skill p {
  font-family: var(--font-roboto);
  font-size: 29px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  color: lightgrey;
}

.skill:hover p {
  color: var(--color-primary);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 5%;
    margin-left: 0;
  }

  .title {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2%;
    margin-left: 0;
  }

  .title {
    text-align: center;
    margin-left: 0;
  }

  .skillImageContainer {
    width: 8rem;
    height: 8rem;
  }

  .skill p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 2%;
    margin-left: 0;
  }

  .title {
    text-align: center;
    margin-left: 0;
  }

  .skillImageContainer {
    width: 6rem;
    height: 6rem;
  }

  .skill p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 5%;
    grid-gap: 0.3rem;
  }
}
