@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px; /* previous 61px*/
  z-index: 2;
  margin: 0 10%;
}

.title {
  /* font-size: 47px;
  font-weight: 600; */
  text-decoration: none;
  color:var(--color-text);
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.title:hover {
  color:#00B4D8 ; /* Change color on hover  #f10000*/
  transform: scale(1.1); /* Slightly enlarge the title */
}



.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 28px;
  color: var(--color-text);
  text-decoration: none;
  position: relative;
  /* font-family: var(--font-roboto); */
}
.menuItems a:hover {
  color: #00B4D8; /* Change to your desired hover color */
}
.menuItems a::after{
  content: '';
  background: #00B4D8;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
.menuItems a:hover::after{
  width: 100%;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
